@import './variables.scss';
@import './mixin.scss';

html, body, #app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
